{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <hr>
    <p>
        {{ site.title }} is an event from and for the PHP community. Your talk or workshop topic should be an
        enriching and valuable experience to the audience. That's why we encourage you to submit talk or workshop topics involving
        or directly related to professional PHP development or anything else that affects PHP development teams or individuals.
    </p>
    <p>
        We encourage you to <strong>submit a few talk/workshop ideas, not just one.</strong>
    </p>
    <p>
        Please be aware that our conference only has a maximum of 4 half-day workshop slots and a single track on the
        conference day so that the overall number of speakers is very limited. Submit your most favorite and unique ideas
        to raise the chance of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Modern PHP development environments</li>
        <li>PHP internals or extensions</li>
        <li>Development principles</li>
        <li>Security</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Tools for workflow automation</li>
        <li>(Inter-)Team management</li>
        <li>Continuous Integration</li>
        <li>Framework-related topics</li>
        <li>Professional development</li>
        <li>...</li>
    </ul>
</div>
{% endblock %}

